html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f6faff;
}

::-webkit-scrollbar-thumb {
    background: #006b2b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #005320;
}
